.card-grid {
	display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  /* grid-template-rows: 20% 20% 20% 20% 20%; */
	max-width: 1800px;
	margin: 0 100px 0 100px;
	background-color: white;
	padding: 100px 0 300px 0;
}

