/* TODO Add site wide styles */
footer {
	bottom: 0;
	margin-top: 20px;
}

footer a {
	font-family: "Overpass",sans-serif;
	text-decoration: none;
}

.notfound {
	margin-left: 100px;
	margin-top: 100px;
	margin-bottom: 800px;
}